<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mareklaskowski.workshop2_f2017">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- the presence of the elments below tells the OS that there's more than one Activity
        in our application -->
        <activity android:name=".SecondActivity" >
        <!-- any xml tags here describe the second activity, we need a intent filter in order for
        SecondActivity to recieve or handle our implict intent -->
            <intent-filter>
                <!--every intent needs an action and a category -->
                <action android:name="com.seneca.lab2.marek"/>
                <!-- for custom intents the category is always DEFAULT -->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".ThirdActivity"></activity>
    </application>

</manifest>









